# .gitattributes
# default behavior, in case people don't have core.autocrlf set
* text=auto

# gdl files should display properly everywhere
*.gdl  text eol=crlf

# truly binary; should not be modified
*.png  binary
*.jpg  binary
*.gsm  binary

# we don't check these in, but just in case
*.pln  filter=lfs diff=lfs merge=lfs -text
*.pla  filter=lfs diff=lfs merge=lfs -text

# proper json support ;)
*.json  linguist-language=JSON5

# exlude from statistics
test/*  linguist-vendored
*.fish  linguist-vendored
*.sh    linguist-vendored
